{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_tags %}
	{{ parent() }}
	<meta name="description" content="{{ page.summary }}">
    <meta name="keywords" content="{{ page.keywords }}">
{% endblock %}

{% block main %}
	{% if page.active or is_granted('ROLE_PAGE_AUTHOR') %}
		{{ include(params.path ~ 'show/_layout.html.twig') }}
	{% else %}
		{{ allmega_render_unavailable() }}
	{% endif %}
{% endblock %}