<nav class="navbar navbar-expand-lg navbar-light" id="allmega-main-menu">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ app_url }}">
            <img src="{{ default_logo }}" class="allmega-menu-logo" title="Logo">
        </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#allmega-main-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="allmega-main-nav">
			{{ render(controller('Allmega\\BlogBundle\\Controller\\MenuPointController::build', {})) }}
		</div>
	</div>
</nav>