<ul class="navbar-nav">
    {% for menupoint in menupoints %}
        {{ include('@AllmegaBlog/menupoint/designs/bootstrap5/inc/_point.html.twig') }}
    {% endfor %}
    <li class="nav-item dropdown">
        {{ include('@AllmegaBlog/inc/header/_profile_menu.html.twig') }}
    </li>
</ul>