{% block date_time_picker_widget %}
    <div class="input-group shadow-lg mb-1">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <i class="fa-solid fa-calendar"></i>
        </span>
    </div>
{% endblock %}

{% block date_picker_widget %}
    <div class="input-group shadow-lg mb-1">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <i class="fa-solid fa-calendar"></i>
        </span>
    </div>
{% endblock %}

{% block textarea_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control shadow-lg')|trim}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock textarea_widget %}

{% block choice_widget %}
    {% if multiple or expanded %}
        {% set phrase = 'label.search_addon'|trans({}, 'AllmegaBlogBundle') %}
        <hr>
        <div class="input-group shadow-lg mb-3">
            <span class="input-group-text" id="allmega-select-search-addon">
                <i class="fa-solid fa-filter"></i>
            </span>
            <input type="text" class="form-control input-sm allmega-select-search" placeholder="{{ phrase }}" aria-label="{{ phrase }}" aria-describedby="allmega-select-search-addon">
        </div>
    {% endif %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-select shadow-lg')|trim}) %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endblock choice_widget %}

{% block email_widget %}
    <div class="input-group shadow-lg mb-1">
        {% set type = type|default('email') %}
        {{ block('form_widget_simple') }}
        <span class="input-group-text">@</span>
    </div>
{% endblock %}

{% block tel_widget %}
    <div class="input-group shadow-lg mb-1">
        {% set type = type|default('tel') %}
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <i class="fa-solid fa-phone"></i>
        </span>
    </div>
{% endblock %}

{% block text_widget %}
    <div class="input-group shadow-lg mb-1">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <i class="fa-solid fa-text-width"></i>
        </span>
    </div>
{% endblock %}

{% block integer_widget %}
    <div class="input-group shadow-lg mb-1">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <i class="fa-solid fa-sort-numeric-up"></i>
        </span>
    </div>
{% endblock %}

{% block password_widget %}
    <div class="input-group shadow-lg mb-1">
        {% set type = type|default('password') %}
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <i class="fa-solid fa-lock"></i>
        </span>
    </div>
{% endblock %}