{% extends 'bootstrap_5_layout.html.twig' %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% if form is not rootform %}
            <span class="help-block">
        {% else %}
            <div class="alert alert-danger">
        {% endif %}

        <ul class="list-unstyled">
        {% for error in errors %}
            <li><span class="fa-solid fa-exclamation-triangle"></span> {{ error.message }}</li>
        {% endfor %}
        </ul>
        {% if form is not rootform %}</span>{% else %}</div>{% endif %}
    {% endif %}
{% endblock form_errors %}
