<div class="allmega-side-box-content">
    <div class="allmega-side-box-content-title">
        {{ box.content.title|raw }}
    </div>
    <div class="allmega-side-box-content-body">
        {{ include(box.content.template, {'params': box.content.params}) }}
    </div>
</div>