{% set path = '@AllmegaBlog/twig/sidebox/' %}

<div id="{{ box.id }}" class="d-flex shadow-lg position-fixed rounded-{{ box.direction }} allmega-side-box allmega-side-box-{{ box.side }}" style="top: {{ box.top }}rem">
    {% if box.side == 'start' %}
        {{ include(path ~ '_content.html.twig') }}
        {{ include(path ~ '_label.html.twig') }}
    {% else %}
        {{ include(path ~ '_label.html.twig') }}
        {{ include(path ~ '_content.html.twig') }}
    {% endif %}
</div>