<li>
    <div class="collapsed allmega-slide-menu-link" data-bs-toggle="collapse" data-bs-target="#{{ menupoint.id }}-collapse" aria-expanded="false">
        {{ name }}
    </div>
    <div class="collapse" id="{{ menupoint.id }}-collapse">
        <ul class="ps-2">
            {% for menupoint in menupoint.childs %}
                {{ include('@AllmegaBlog/menupoint/designs/slide/inc/_point.html.twig') }}
            {% endfor %}
        </ul>
    </div>
</li>