{% set name = menupoint.row.name ? menupoint.row.name : menupoint.row.shortname|trans({}, 'AllmegaBlogBundle') %}
{% set a_class = menupoint.row.css ? ' ' ~ menupoint.row.css : '' %}
{% set a_class = menupoint.row.selected ? 'allmega-active-link' ~ a_class : a_class %}

{% if menupoint.childs|default(false) %}
	{{ include('@AllmegaBlog/menupoint/designs/slide/inc/_link.html.twig') }}
{% else %}
	<li>
		<a class="allmega-slide-menu-link d-block w-100 {{ a_class }}" href="{{ menupoint.row.route }}">{{ name }}</a>
	</li>
{% endif %}