{% if is_granted('ROLE_PAGE_AUTHOR') %}
    {{ allmega_render_confirmation({'message': 'page.state_confirm'|trans({}, params.domain) }) }}
    <div id="allmega-page-slug" class="d-none" data-page-slug="{{ page.slug }}"></div>
    {{ allmega_render_start_confirmation() }}
{% endif %}