{% trans_default_domain params.domain %}

{% set links = [] %}
{% set info = {} %}

{% if is_granted('ROLE_PAGE_AUTHOR') %}

    {% set info = {'show': true, 'content': include(params.path ~ 'show/_info.html.twig')} %}

    {% if is_granted('ROLE_BLOG_MANAGER') %}
        {% set links = links|merge([
                {
                    'path':  page.start ? path(params.start.route ~ 'start') : path(params.start.route ~ 'start', {'type': 'page', 'id': page.id}),
                    'icon':  page.start ? 'check' : 'times', 'confirm': true, 'type': 'start',
                    'title': page.start ? 'label.startpage'|trans : 'startpage.mark'|trans,
                }
            ])
        %}
    {% endif %}

    {% set links = links|merge([
            {
                'icon': 'list-alt', 'title': 'page.list'|trans,
                'path': path(params.route ~ 'index')
            },
            {
                'size': 'lg', 'load': true, 'icon': 'edit', 'title': 'page.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': page.id})
            },
            {
                'confirm': true, 'state': page.active,
                'title': page.active ? 'action.deactivate'|trans : 'action.activate'|trans,
                'path': path(params.route ~ 'state', {'id': page.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_heading({
        'title': {'content': page.title}, 'show': page.headshow,
        'actionsList': {'links': links, 'info': info},
        'css': 'allmega-page-heading-box'
    })
}}