{% trans_default_domain params.domain %}

<div class="mb-1">
    <span class="fw-bold">{{ 'menupoint.label.route'|trans }}:</span> 
    <i class="fa-solid fa-link"></i> 
    {{ path('allmega_blog_page_show', {'slug': page.slug}) }}
</div>
<div class="text-end">
    <span class="fw-bold">{{ 'article.label.published'|trans }}:</span> 
    <i class="fa-solid fa-calendar"></i> 
    {{ page.published|format_datetime('medium', 'short', locale='de')}}<br>

    <span class="fw-bold">{{ 'article.label.updated'|trans }}:</span> 
    <i class="fa-solid fa-calendar"></i> 
    {{ page.updated|format_datetime('medium', 'short', locale='de') }}<br>
    
    <span class="fw-bold">{{ 'article.label.valid'|trans }}:</span> 
    <i class="fa-solid fa-calendar"></i> 
    {{ page.valid|format_datetime('medium', 'short', locale='de')}}
</div>