<div class="row">
    <div class="col-md-12">
        <div class="allmega-page-group">
            {{ include(params.path ~ 'show/_heading.html.twig') }}
            {{ include(params.path ~ 'show/_content.html.twig') }}
        </div>
    </div>
</div>