{% for menupointType in menupointTypes.rows %}
    <div id="allmega-data-{{ menupointType.shortname }}" class="d-none" data-{{ menupointType.shortname }}-id="{{ menupointType.id }}"></div>
{% endfor %}
<div id="allmega-data-names" class="d-none" data-names="{{ menupointTypes.names|join(',') }}"></div>