{% trans_default_domain params.domain %}

{% set comment = params.comment %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': [
            {
                'load': true, 'icon': 'edit', 'title': 'comment.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': comment.id, 'place': 'manage'})
            },
            {
                'confirm': true, 'state': 'red', 'title': 'comment.enable'|trans ,
                'path': path(params.route ~ 'enable', {'id': comment.id})
            }
        ]
    })
}}