{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': icon, 'content': content|trans},
        'actionsList': {'info': {'show': true, 'content': info|trans}}
    })
}}