{% trans_default_domain params.domain %}

<div class="row">
    <div class="col-md-12 px-3">
        <nav>
            <div class="nav nav-tabs" id="allmega-overview-menu" role="tablist">
                <button class="nav-link active" id="nav-comments-tab" data-bs-toggle="tab" data-bs-target="#nav-comments" type="button" role="tab" aria-controls="nav-comments" aria-selected="true">
                    <i class="fa-solid fa-list-alt"></i> {{ 'comment.list'|trans }}
                </button>
                <button class="nav-link" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings" aria-selected="false">
                    <i class="fa-solid fa-cogs"></i> {{ 'label.settings'|trans }}
                </button>
            </div>
        </nav>
        
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                {{ include(params.path ~ 'list/_heading.html.twig', {
                        'info': 'comment.info', 'icon': 'comments', 'content': 'comment.list'
                    })
                }}
                {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
            </div>
            <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                {{ include(params.path ~ 'list/_heading.html.twig', {
                        'info': 'comment.settings', 'icon': 'cogs', 'content': 'label.settings'
                    })
                }}
                {{ include(params.path ~ 'inc/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>