<div class="row allmega-boxes-area">
    <div class="col-md-6 mb-3">
        <div class="shadow-lg allmega-head-actions-list">
            {{ include(params.path ~ 'list/_heading.html.twig', {
                        'info': 'comment.settings', 'icon': 'cogs', 'content': 'label.settings'
                    })
                }}
            {{ include(params.path ~ 'inc/_form.html.twig') }}
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="shadow-lg allmega-head-actions-list">
            {{ include(params.path ~ 'list/_heading.html.twig', {
                        'info': 'comment.info', 'icon': 'comments', 'content': 'comment.list'
                    })
                }}
            {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
        </div>
    </div>
</div>