{{ allmega_render_slider_content({
        'icon': 'user-tie', 'title': item.posted|allmega_is_new ~ item.author.username,
        'params': params|merge({'comment': item}),
        'templates': {
            'content': params.path ~ 'list/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig'
        }
    })
}}