.allmega-slide-menu-list { padding: 0 1rem 1rem; }
#allmega-slide-bars > i { font-size: 1.5rem; }
.allmega-slide-menu-link {
    padding: 0 .5rem;
    cursor: pointer;
}
.allmega-slide-menu-link:hover {
    -webkit-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
    background-color: #eee;
}
#allmega-slide-bars {
    position: absolute;
    right: 1rem;
    top: 33%;
}
#allmega-slide-profile {
    position: absolute;
    right: 3.5rem;
    top: 30%;
}
#allmega-slide-navarea {
    width: 0;
    height: 100%;
    z-index: 7;
    opacity: .93;
    transition: .5s;
    -ms-transition: .5s;
    -webkit-transition: .5s;
    background-color: #fff;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
}