{% set name = menupoint.row.name ? menupoint.row.name : menupoint.row.shortname|trans({}, 'AllmegaBlogBundle') %}
{% set a_class = menupoint.row.css ? ' ' ~ menupoint.row.css : '' %}
{% set a_class = menupoint.row.selected ? ' allmega-active-link' ~ a_class : a_class %}

{% if menupoint.childs|default(false) %}

	{% set li_class = deep|default(false) ? 'dropstart' : 'nav-item' %}
	{% set a_class = deep|default(false) ? 'dropdown-item' ~ a_class : 'nav-link' ~ a_class %}
	{% set popup = deep|default(false) ? ' aria-haspopup="true"' : '' %}

	<li class="dropdown {{ li_class }}">
		{{ include('@AllmegaBlog/menupoint/designs/bootstrap5/inc/_link.html.twig') }}
		<ul class="dropdown-menu" aria-labelledby="{{ menupoint.id }}">
			{% for menupoint in menupoint.childs %}
				{{ include('@AllmegaBlog/menupoint/designs/bootstrap5/inc/_point.html.twig', {'deep': 1}) }}
			{% endfor %}
		</ul>
	</li>
{% else %}
	{% set li_class = deep|default(false) ? '' : ' class="nav-item"' %}
	{% set a_class = deep|default(false) ? 'dropdown-item' ~ a_class : 'nav-link' ~ a_class %}
	{{ include('@AllmegaBlog/menupoint/designs/bootstrap5/inc/_level.html.twig') }}
{% endif %}