{% trans_default_domain params.domain %}

{{ allmega_render_form_errors(errorMessages) }}
{{ allmega_render_form({
        'heading': {'title': {'icon': 'envelope', 'content': 'contact.create'|trans}},
        'form': {
            'content': params.form, 'label': 'action.send.message'|trans,
            'path': path(params.route ~ 'add')}
    })
}}