{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}{{ 'contact.create'|trans({}, params.domain) }}{% endblock %}

{% block main %}
	{{ include(params.path ~ 'forms/_' ~ params.action ~ '.html.twig') }}
{% endblock %}