{% trans_default_domain params.domain %}

{{ include(params.path ~ 'show/_heading.html.twig') }}
<div class="px-3 pb-3">
    <div class="fw-bold">{{ 'faq.label.question'|trans }}:</div>
    {{ params.faq.question }}<hr>
    <div class="fw-bold">{{ 'faq.label.answer'|trans }}:</div>
    {{ include(params.path ~ 'list/_content.html.twig') }}
    {{ allmega_render_confirmation({'message': 'faq.state_confirm'|trans({}, params.domain)}) }}
</div>