{% trans_default_domain params.domain %}

{% set faq = params.faq %}

{{ allmega_render_heading({
        'title': {
            'icon': 'eye', 'content': 'faq.show'|trans
        },
        'actionsList': {
            'info': {'content': faq|allmega_item_info},
            'links': [
                {
                    'load': true, 'icon': 'edit', 'title': 'faq.edit'|trans,
                    'path': path(params.route ~ 'edit', {'id': faq.id})
                },
                {
                    'confirm': true, 'state': faq.active,
                    'path': path(params.route ~ 'state', {'id': faq.id}),
                    'title': faq.active ? 'faq.deactivate'|trans : 'faq.activate'|trans
                }
            ]
        }
    })
}}