<div class="mb-3 p-3 bg-{{ item.bg }} border rounded">
    {% if item.badge %}
        <div class="float-end">{{ item.badge|raw }}</div>
    {% endif %}
	<h6 class="fw-bold">{{ item.title.content|raw }}</h6>
    <div>{{ item.content|raw }}</div>
</div>