<div class="col-md-4 mb-4">
    <div class="allmega-dashboard-box shadow-lg">
        <div class="allmega-dashboard-head">
            {% if box.title %}
                <p class="allmega-dashboard-title">
                    {% if box.title.icon %}
                        <i class="fa-solid fa-{{ box.title.icon }}"></i> 
                    {% endif %} 
                    {{ box.title.content|raw }}
                </p>
                <hr>
            {% endif %}

            {% if box.info %}
                <div class="allmega-dashboard-info text-end text-muted">{{ box.info.content|raw }}</div><hr>
            {% endif %}
        </div>
        
        <div class="allmega-dashboard-content">{{ box.content|raw }}</div>
        <div class="allmega-dashboard-footer">
            <hr>
            {% if box.actionsList %}
                {{ box.actionsList.view|raw }}
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
</div>