{% set attr = {} %}
			
{% if form.id %}
    {% set attr = attr|merge({ 'id': form.id }) %}
{% endif %}

{% if form.css %}
    {% set attr = attr|merge({ 'class': form.css }) %}
{% endif %}

{% if form.load %}
    {% set attr = attr|merge({ 'data-send': 'true' }) %}
{% endif %}

<div class="allmega-form-box-content">
    {{ form_start(form.content, {'action': form.path, 'attr': attr }) }}
        {{ form_widget(form.content) }}<hr>
        <button type="submit" class="allmega-btn btn btn-sm">
            <i class="fa-solid fa-{{ form.icon|default('save') }}"></i> 
            {{ form.label|default('action.save'|trans({}, 'AllmegaBlogBundle')) }}
        </button>
    {{ form_end(form.content) }}
    
    {% if form.delete %}
        {{ form.delete.view|raw }}
    {% endif %}
</div>