<div class="allmega-delete-form-box">
	<form method="post" action="{{ form.path }}" data-confirmation="true">
	    <input type="hidden" name="_method" value="DELETE">
	    <input type="hidden" name="_token" value="{{ form.csrf }}">
	    <button type="submit" class="btn" data-bs-toggle="tooltip" title="{{ form.title }}">
	        <i class="fa-solid fa-trash" aria-hidden="true"></i>
	    </button>
	</form>
	{{ form.confirmation.view|raw }}
</div>