{% if form.heading %}
	{{ form.heading.view|raw }}
{% endif %}

<div class="row">
	<div class="col-md-12">
		<div class="allmega-form-box">
			{{ allmega_render_form_errors(form.errorMessages) }}
			{% include '@AllmegaBlog/twig/form/_content.html.twig' %}
		</div>
	</div>
</div>