<div class="allmega-slider-body">
    <hr>
    {{ comment.row.content }}
    
    {% if app.user|default(null) and app.user.id != comment.row.id %}
        <hr>
        <div class="text-end">
            <a data-bs-toggle="tooltip" title="{{ 'label.answer'|trans({}, params.domain) }}" class="allmega-reply" href="#answer{{ comment.row.id }}">
                <i class="fa-solid fa-undo-alt"></i>
            </a>
        </div>
    {% endif %}
</div>