{% trans_default_domain params.domain %}

<div class="allmega-slider-head">
    <div class="float-end text-muted"> 
        {{ 'comment.commented_on'|trans }}
        <i class="fa-solid fa-calendar-alt"></i> 
        {{ comment.row.posted|format_datetime('medium', 'short', locale='de') }}&nbsp;

        {% if comment.row.author.id == app.user.id %}
            |
            {{ allmega_render_link({
                    'path': path(params.route ~ 'edit', {'id': comment.row.id}),
                    'icon': 'edit', 'title': 'comment.edit'|trans, 'load': true
                })
            }}&nbsp;
            {{ allmega_render_link({
                    'confirm': true, 'type': 'udelete', 'icon': 'trash text-danger',
                    'path': path(params.route ~ 'udelete', {'id': comment.row.id}),
                    'title': 'comment.delete'|trans
                })
            }}
        {% endif %}
    </div>
    
    <div class="fw-bold">
        <a name="answer_{{ comment.row.id }}"></a>
        <span class="allmega-slider-arrow">
            <i class="fa-solid fa-angle-down"></i>
        </span>
        <span class="allmega-slider-title">
            <i class="fa-solid fa-user-tie"></i> {{ comment.row.author.username }}
        </span>
    </div>
</div>