<div class="row">
    <div class="col-md-12">
        <ul class="allmega-root-list" id="allmega-comments-root">
            {% for comment in comments %}
                {{ include(params.path ~ 'inc/_comment.html.twig') }}
            {% endfor %}
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li id="allmega-new-comment" class="allmega-comment-list-item">
                    {{ include(params.path ~ 'slider/form/_head.html.twig') }}
                    {{ include(params.path ~ 'slider/form/_body.html.twig') }}
                </li>
                <li id="allmega-comment-data" class="d-none" data-url="{{ path(params.route ~ 'add') }}" data-entityid="{{ params.entityid }}" data-entityname="{{ params.entityname }}"></li>
            {% endif %}
        </ul>
    </div>
</div>