{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'comment.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {% if params.commentVoter.isGranted('blog-comment-settings', null, app.user) %}
        {{ include(params.path ~ 'list/_overview.html.twig') }}
    {% else %}
        {{ include(params.path ~ 'list/_heading.html.twig', {
                'info': 'comment.info', 'icon': 'comments', 'content': 'comment.list'
            })
        }}
        {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {% endif %}

    {{ allmega_render_confirmation({'message': 'comment.state_confirm'|trans({}, params.domain) }) }}
{% endblock %}
