<div class="row">
    <div class="col-md-12">
        <div id="allmega-comments-area">
            {{ include(params.path ~ 'inc/_actions.html.twig') }}
            {{ include(params.path ~ 'inc/_counter.html.twig') }}<hr>
            {{ include(params.path ~ 'slider/_layout.html.twig') }}
        </div>
    </div>
</div>
{{ allmega_render_confirmation({'action': 'udelete', 'message': 'comment.delete_confirm'|trans({}, params.domain) }) }}