{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'tachometer-alt', 'content': 'label.dashboard'|trans},
        'actionsList': {'info': {'show': true, 'content': 'dashboard.info'|trans}}
    })
}}