<nav id="allmega-main-menu" class="px-2">
    <div id="allmega-slide-navarea" class="shadow-lg">
        <div id="allmega-slide-bars-close" class="text-end pt-3 pe-3">
            <i class="fa-solid fa-xmark fs-5" data-bs-toggle="tooltip" title="{{ 'menu.action.close'|trans({}, 'AllmegaBlogBundle') }}"></i>
        </div><hr>
        {{ render(controller('Allmega\\BlogBundle\\Controller\\MenuPointController::build', {})) }}
    </div>
    <div id="allmega-slide-bars" data-bs-toggle="tooltip" title="{{ 'menu.action.open'|trans({}, 'AllmegaBlogBundle') }}">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div id="allmega-slide-profile">
        <div class="dropdown">
            {{ include('@AllmegaBlog/inc/header/_profile_menu.html.twig') }}
        </div>
    </div>
    <div id="allmega-slide-logo">
        <a href="{{ app_url }}">
            <img src="{{ default_logo }}" class="allmega-menu-logo" title="Logo">
        </a>
    </div>
</nav>