{% if dashboard.heading %}
	{{ dashboard.heading.view|raw }}
{% endif %}

{% if dashboard.boxes %}
	<div class="row">
		{% for box in dashboard.boxes %}
			{{ box.view|raw }}
		{% endfor %}
	</div>
{% endif %}