{% trans_default_domain params.domain %}

<div class="allmega-slider-body">
    <div class="allmega-slider-content">
        <div class="alert alert-danger" role="alert"></div>
        <textarea class="form-control" rows="3" placeholder="{{ 'comment.placeholder'|trans }}"></textarea>
    </div>
    <hr>
    <button class="allmega-btn btn btn-sm">{{ 'action.send.comment'|trans }}</button>
    <div class="allmega-loader-img"></div>
</div>