<div class="allmega-slider-head">
    <div class="float-end">
        <i class="fa-solid fa-ban" id="allmega-cancel-comment"></i>
    </div>
    
    <div class="fw-bold">
        <span class="allmega-slider-arrow">
            <i class="fa-solid fa-angle-down"></i>
        </span> 
        <span class="allmega-slider-title">
            <i class="fa-solid fa-user-tie"></i> {{ app.user.username }}
        </span>
    </div>
</div>