{% for job in jobs %}
	{% set info = include(params.path ~ 'inc/_info.html.twig') %}
	{{ allmega_render_dashboard_box_item({
			'content': job.message|slice(0,200) ~ info,
			'badge': job.posted|allmega_is_new,
			'title': {'content': job.sender},
		})
	}}
{% else %}
	{{ 'job.empty'|trans({}, params.domain) }}
{% endfor %}