<div class="allmega-slider-body">
    {% if slider.templates.content|default(false) %}
        <div class="allmega-slider-content">
            {% include slider.templates.content with {'params': slider.params} %}
        </div>
    {% endif %}

    {% if slider.templates.footer|default(false) %}
        {% include slider.templates.footer with {'params': slider.params} %}
    {% endif %}
</div>