{% if slider.card %}
    <div class="col-{{ slider.size }}">
        <div class="shadow-lg mb-3">
            {% include '@AllmegaBlog/twig/slider/_row.html.twig' %}
        </div>
    </div>
{% else %}
    {% include '@AllmegaBlog/twig/slider/_row.html.twig' %}
{% endif %}