<div class="allmega-slider-head {{ slider.css }}">
    {% if slider.templates.menu|default(false) %}
        {% include slider.templates.menu with {'params': slider.params} %}
    {% endif %}
    
    <div class="fw-bold w-75 overflow-auto text-nowrap">
        <span class="allmega-slider-arrow d-inline-flex">
            <i class="fa-solid fa-angle-down"></i>
        </span>&nbsp;

        <span class="allmega-slider-title d-inline-flex">
            {% if slider.icon %}
                <i  class="fa-solid fa-{{ slider.icon }}"></i>&nbsp;
            {% elseif slider.state is not same as(null) %}
                <i class="fa-solid {{ slider.state|allmega_sign }}"></i>
            {% endif %} 
            {{ slider.title|raw }}
        </span>
    </div>
</div>