<div class="allmega-slider-wrapper {{ slider.card ? '' : 'border-top' }}">
    {% include '@AllmegaBlog/twig/slider/_head.html.twig' %}
    {% include '@AllmegaBlog/twig/slider/_body.html.twig' %}
</div>