<div class="row">
    <div class="col-md-12">
        <div class="allmega-root-list {{ sliderWrapper.listCss }}">
            {% if sliderWrapper.params.card %}<div class="row">{% endif %}
            {% for item in sliderWrapper.items %}
                {% include sliderWrapper.template with {'item': item, 'params': sliderWrapper.params} %}
            {% else %}
                <div class="text-muted small pb-1">{{ sliderWrapper.empty }}</div>
            {% endfor %}
            {% if sliderWrapper.params.card %}</div>{% endif %}
        </div>
    </div>
</div>