{% set job = params.job %}
{% set links = [] %}

{% if job.documents %}
    {% set links = links|merge([{
            'icon': 'download', 'title': 'job.file.upload'|trans({}, params.domain),
            'path': path(params.route ~ 'load', {'filename': job.documents})
        }])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': links
    })
}}