{% trans_default_domain params.domain %}

{% set job = params.job %}

{{ allmega_render_delete_form({
        'confirmation': {'action': 'delete', 'message': 'job.delete_confirm'|trans},
        'form': {
            'title': 'action.delete'|trans, 'csrf': csrf_token('delete' ~ job.id),
            'path': path(params.route ~ 'delete', {'id': job.id})
        }
    })
}}

<p>{{ job.message|nl2br }}</p>