{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {
            'icon': 'file-alt',  'content': 'job.list'|trans,
            'count': jobs.totalItemCount
        },
        'actionsList': {
            'sort': {'item': item, 'sortables': jobs},
            'info': {'show': true, 'content': 'job.info'|trans},
            'search': {
                'placeholder': 'job.search.jobs'|trans,
                'path': path(params.route ~ 'search'),
                'help': 'job.search.help'|trans,
            },
        }
    })
}}