{% trans_default_domain params.domain %}

<span class="fw-bold">{{ 'job.label.posted'|trans }}:</span> 
{{ job.posted|format_datetime('medium', 'short', locale='de') }}
<br><span class="fw-bold">{{ 'job.label.sender'|trans }}: </span>{{ job.sender }}
<br><span class="fw-bold">{{ 'job.label.email'|trans }}: </span>{{ job.email }}
{% if job.phone %}
    <br><span class="fw-bold">{{ 'job.label.phone'|trans }}: </span>{{ job.phone }}
{% endif %}
<div class="fw-bold">{{ 'job.label.contact'|trans }}: </div>
<div class="ms-3">- {{ job.contact }}</div>