{% set title = item.phone ? item.sender ~ ' | Phone: ' ~ item.phone : item.sender ~ ' | E-Mail: ' ~ item.email %}

{{ allmega_render_slider_content({
        'title': title, 'params': params|merge({'job': item}),
        'templates': {
            'content': params.path ~ 'list/_content.html.twig',
            'menu':params.path ~  'list/_actions.html.twig'
        }
    })
}}