{% trans_default_domain params.domain %}

<div class="row">
    <div class="col-md-12">
        <div class="p-4">
            {{ 'job.description'|trans }} 
            {{ allmega_render_link({
                    'load': true, 'icon': 'plus-circle',
                    'path': path(params.route ~ 'add'),
                    'title': 'job.create'|trans
                })
            }}
        </div>
    </div>
</div>