{% extends '@AllmegaBlog/layout.html.twig' %}

{% trans_default_domain params.domain %}

{% block title %}
	{{ 'job.show'|trans }}
{% endblock %}

{% block main %}
	{{ allmega_render_heading({'title': {'content': 'job.show'|trans}}) }}
	{{ include(params.path ~ 'show/_content.html.twig') }}
{% endblock %}