{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'notificationtype.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
    {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {{ allmega_render_pagination(notificationtypes) }}
    {{ allmega_render_confirmation({'message': 'notificationtype.state_confirm'|trans({}, params.domain)}) }}
{% endblock %}