{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {
            'icon': 'file-alt',
            'content': 'tag.list'|trans,
            'count': tags.totalItemCount
        },
        'actionsList': {
            'info': {'show': true, 'content': 'tag.info'|trans},
            'sort': {'item': item, 'sortables': tags},
        }
    })
}}