{% trans_default_domain params.domain %}

<div class="row">
    <div class="col-md-12">
        <div class="px-3">
            {% for tag in tags %}
                {% if loop.first %}<div class="row">{% endif %}
                <div class="col-md-3">
                    <div class="allmega-tag-box border rounded position-relative mb-3 p-3">
                        <span class="allmega-tag-label">
                            <i class="fa-solid fa-tag"></i> {{ tag.name }}
                        </span>
                        {{ allmega_render_delete_form({
                            'confirmation': {'action': 'delete', 'message': 'tag.delete_confirm'|trans},
                            'form': {
                                'title': 'action.delete'|trans, 'csrf': csrf_token('delete' ~ tag.id),
                                'path': path(params.route ~ 'delete', {'id': tag.id})
                            }
                        })
                        }}
                    </div>
                </div>
            {% if loop.last %}</div>{% endif %}
            {% else %}
                {{ 'tag.empty'|trans }}
            {% endfor %}
        </div>
    </div>
</div>