{% trans_default_domain params.domain %}

{% set recipient = params.recipient %}

{{ allmega_render_actions_list({
        'info': {'content': recipient.description|allmega_print},
        'links': [
            {
                'load': true, 'icon': 'edit', 'title': 'recipient.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': recipient.id})
            },
            {
                'title': recipient.active ? 'action.deactivate'|trans : 'action.activate'|trans,
                'state': recipient.active, 'confirm': true,
                'path': path(params.route ~ 'state', {'id': recipient.id})
            }
        ]
    })
}}