{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'envelope', 'content': 'recipient.list'|trans},
        'actionsList': {
            'sort': {'item': item, 'sortables': recipients},
            'info': {'show': true, 'content': 'recipient.info'|trans},
            'links': [
                {
                    'load': true, 'icon': 'plus-circle',
                    'title': 'recipient.create'|trans,
                    'path': path(params.route ~ 'add')
                }
            ]
        }
    })
}}