{% trans_default_domain params.domain %}

{% set page = params.page %}
{% set links = [] %}

{% if is_granted('ROLE_BLOG_MANAGER') %}
    {% set links = links|merge([
            {
                'path':  page.start ? path(params.start.route ~ 'start') : path(params.start.route ~ 'start', {'type': 'page', 'id': page.id}),
                'icon':  page.start ? 'check' : 'times', 'confirm': true, 'type': 'start',
                'title': page.start ? 'label.startpage'|trans : 'startpage.mark'|trans,
            }
        ])
    %}
{% endif %}

{% set links = links|merge([
        {
            'icon': 'eye', 'title': 'page.show'|trans,
            'path': path(params.route ~ 'show', {'slug': page.slug})
        },
        {
            'size': 'lg',  'load': true, 'icon': 'edit', 'title': 'page.edit'|trans,
            'path': path(params.route ~ 'edit', {'id': page.id})
        },
        {
            'confirm': true,  'state': page.active,
            'title': page.active ? 'action.deactivate'|trans : 'action.activate'|trans,
            'path': path(params.route ~ 'state', {'id': page.id})
        }
    ])
%}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'show/_info.html.twig')},
        'links': links
    })
}}