{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {
            'icon': 'list-alt',
            'content': 'page.list'|trans,
            'count': pages.totalItemCount
        },
        'actionsList': {
            'sort': {'item': item, 'sortables': pages},
            'info': {'show': true, 'content': 'page.info'|trans},
            'search': {
                'placeholder': 'page.search.pages'|trans,
                'help': 'page.search.help'|trans,
                'path': path(params.route ~ 'search'),
            },
            'links': [
                {
                    'size': 'lg', 'load': true,  'icon': 'plus-circle',
                    'path': path(params.route ~ 'add'),
                    'title': 'page.create'|trans
                }
            ]
        }
    })
}}