{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'menupoint.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
    {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {{ allmega_render_confirmation({'message': 'menupoint.state_confirm'|trans({}, params.domain)}) }}
    {{ allmega_render_start_confirmation() }}
{% endblock %}