{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ menupoint.title ~ ' | ' ~ 'menupoint.show'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ allmega_render_heading({ 'title': {'content': menupoint.title} }) }}
    {{ content|raw }}
{% endblock %}
