{% extends '@' ~ params.bundle ~ '/layout.html.twig' %}

{% block title %}
    {{ params.heading.title.content }}
{% endblock %}

{% block main %}
	{{ include('@AllmegaBlog/twig/forms/_modify.html.twig') }}
	{{ params.blocks.form.bottom|raw }}
{% endblock %}