{% if actionsList.content %}
    <ul class="allmega-actions-list-group">
        {% for tag in actionsList.tags %}
            <li class="allmega-actions-list-item">{{ tag|raw }}</li>
        {% endfor %}

        {% for link in actionsList.links %}
            <li class="allmega-actions-list-item">{{ link.view|raw }}</li>
        {% endfor %}

        {% if actionsList.sort %}
            <li class="allmega-actions-list-item">{{ actionsList.sort.view|raw }}</li>
        {% endif %}

        {% if actionsList.info %}
            {% set show = actionsList.info.show ? ' allmega-info-btn-show' : '' %}
            <li class="allmega-actions-list-item{{ show }}">{{ actionsList.info.view|raw }}</li>
        {% endif %}

        {% if actionsList.search %}
            <li class="allmega-actions-list-item">{{ actionsList.search.view|raw }}</li>
        {% endif %}

        {% if actionsList.dropdownmenu %}
            <li class="allmega-actions-list-item">{{ actionsList.dropdownmenu.view|raw }}</li>
        {% endif %}
    </ul>
{% endif %}