<div class="allmega-author-info-area">
    {% if item.author and item.created %}
        <span class="fw-bold">
            {{ item.labelCreated ?? 'label.created'|trans({}, 'AllmegaBlogBundle') }}: 
        </span><br>
        - <i class="fa-solid fa-user-tie"></i> {{ item.author.fullname }}<br>
        - <i class="fa-solid fa-calendar"></i> {{ item.created|format_datetime('medium', 'short', locale='de') }}
    {% endif %}

    {% if item.editor or item.updated %}
        <hr>
        <span class="fw-bold">
            {{ item.labelUpdated ?? 'label.updated'|trans({}, 'AllmegaBlogBundle') }}: 
        </span><br>
        {% if item.editor %}
            - <i class="fa-solid fa-user-tie"></i> {{ item.editor.fullname }}<br>
        {% endif %}
        {% if item.updated %}
            - <i class="fa-solid fa-calendar"></i> {{ item.updated|format_datetime('medium', 'short', locale='de') }}
        {% endif %}
    {% endif %}
</div>