<div class="row">
    <div class="col-md-{{ carousel.size|default(false) ? carousel.size ~ ' m-auto' : '12' }}">
        <div class="allmega-page-carousel">
            <div id="allmegaArticleCarousel" class="carousel slide" data-bs-ride="carousel">

                {% if carousel.indicators %}
                    <div class="carousel-indicators">
                        {% set current = ' class="active" aria-current="true"' %}
                        {% for key, image in carousel.images %}
                            {% set counter = key + 1 %}
                            <button type="button" data-bs-target="#allmegaArticleCarousel" data-bs-slide-to="{{ key }}" aria-label="Slide {{ counter }}"{{ current }}></button>
                            {% set current = '' %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="carousel-inner">
                    {% set active = ' active' %}
                    {% for image in carousel.images %}
                        <div class="carousel-item{{ active }} ">
                            <img src="{{ image.getBase64EncodedContent() }}" class="d-block w-100" alt="">
                        </div>
                        {% set active = '' %}
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#allmegaArticleCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#allmegaArticleCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>