{% trans_default_domain 'AllmegaBlogBundle' %}
<div class="d-none" 
    {% if confirmation.type == 'link' %}
        id="allmega-confirm-{{ confirmation.action }}"
    {% endif %} 
    data-title="{{ 'label.confirm'|trans }}" 
    data-message="{{ confirmation.message }}" 
    data-cancel="{{ 'action.cancel'|trans }}" 
    data-certify="{{ 'action.certify'|trans }}">
</div>