<div id="allmega-{{ menu.id }}-menu" class="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa-solid fa-ellipsis-vertical"></i>
</div>
<div class="dropdown-menu dropdown-menu-end allmega-actions-dropdown" aria-labelledby="allmega-{{ menu.id }}-menu">
    {% for link in menu.links %}
        {{ link.view|raw }}
    {% endfor %}
</div>