{% if app.request.hasPreviousSession %}
    <div id="allmega-flash-area">
        <div id="allmega-flash-message">
            {% for type, messages in app.session.flashbag.all() %}
                <div class="alert alert-{{ type }} allmega-flash-message text-center">
                    {% for message in messages %}
                        <div class="allmega-flash-message-line">
                            <i class="fa-solid fa-triangle-exclamation"></i>  
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}