<div class="allmega-info-box-area">
    <i data-bs-toggle="tooltip" title="{{ info.title|trans({}, 'AllmegaBlogBundle') }}" class="fa-solid fa-info-circle allmega-info-btn"></i>
    {% if info.content %}
        <div class="allmega-info-box">{{ info.content|raw }}</div>
    {% endif %}
</div>