{% trans_default_domain 'AllmegaBlogBundle' %}

{{ allmega_render_author_info({
        'labelCreated': 'label.created'|trans,
        'labelUpdated': 'label.updated'|trans,
        'created': item.created,
        'updated': item.updated,
        'author': item.creator,
        'editor': item.editor,
    })
}}