<a data-bs-toggle="tooltip" title="{{ link.title }}" href="{{ link.path }}" 
	{% if link.id %}id="{{ link.id }}"{% endif %} 
	{% if link.load %}data-load="true"{% endif %} 
	{% if link.css %}class="{{ link.css }}"{% endif %} 
	{% if link.state %}class="allmega-state-link"{% endif %} 
	{% if link.size %}data-size="{{ link.size }}"{% endif %} 
	{% if link.confirm %}data-confirmation="true" data-bs-toggle="modal" data-type="{{ link.type|default('state') }}"{% endif %}>
	<i class="{{ link.cls }}"></i> {{ link.label }}
</a>