<div id="allmega-loader" class="text-center">
    <div id="allmega-load-message">
        <div class="allmega-loader-img ms-3">
            {{ 'state.load'|trans({}, 'AllmegaBlogBundle') }}
        </div>
    </div>
</div>