{% if items.getTotalItemCount > count %} 
    <div class="row">
        <div class="col-md-12">
            <div class="allmega-pagination-box overflow-auto">
                {{ knp_pagination_render(items) }}
            </div>
        </div>
    </div>
{% endif %}