{% set page = params.page %}
<div class="row">
    <div class="col-md-{{ params.size|default(false) ? params.size ~ ' m-auto' : '12' }}">
        <div class="allmega-page-content">
            {{ page.markdown ? page.content|markdown_to_html : page.content|raw }}
        </div>
    </div>
</div>