{% trans_default_domain 'AllmegaBlogBundle' %}

<div class="allmega-prio-area">
    <p class="fw-bold">{{ 'label.priority.legend'|trans }}</p>
    <div class="row">
        {% for key, label in priorities %}
            {% set css = 'allmega-prio-' ~ key|allmega_priority %}
            <div class="col-sm mb-2 text-nowrap">
                <i class="allmega-dot {{ css }}" style="vertical-align: sub;"></i>
                 - <span>{{ key|allmega_priority_trans|trans }}</span>
            </div>
        {% endfor %}
    </div>
</div>
