{% trans_default_domain 'AllmegaBlogBundle' %}

<div class="allmega-search-area">
	{{ allmega_render_link({
			'title': 'action.search.title'|trans,
			'css': 'allmega-search-icon',
			'size': search.size,
			'icon': 'search',
			'path': '#' 
		})
	}}

	<div class="allmega-search-content d-none" data-empty-results-message="{{ 'action.search.no_results'|trans }}">
		<div class="allmega-search-form {{ search.css }}">
			<form action="{{ search.path }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('search') }}">
				<div class="input-group mb-3">
					<span class="input-group-text"><i class="fa-solid fa-search"></i></span>
					<input class="form-control allmega-search-field" name="query" placeholder="{{ search.placeholder }}" autocomplete="off">
				</div>
				{% if search.help %}
					<div class="form-text help-text">{{ search.help|raw }}</div>
				{% endif %}
				<hr>
				<div class="text-end">
					<button type="submit" class="allmega-btn btn btn-sm w-25">
						<i class="fa-solid fa-search"></i> 
						{{ 'action.search.label'|trans }}
					</button>
				</div>
			</form>
		</div>
		<hr>
		<div class="allmega-search-results"></div>
	</div>
</div>