<div id="allmega-sort-list" class="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i data-bs-toggle="tooltip" title="{{ 'label.sortBy'|trans({}, 'AllmegaBlogBundle') }}" class="fa-solid fa-filter"></i>
</div>

<div class="dropdown-menu dropdown-menu-end" aria-labelledby="allmega-sort-list">
    {% for prop in item.props %}
        {% set label = item.label ~ prop %}
        <span class="dropdown-item{% if sortables.isSorted('a.' ~ prop) %} allmega-sorted-items{% endif %}">
            {{ knp_pagination_sortable(sortables, label|trans({}, 'Allmega'~ item.bundle ~ 'Bundle'), 'a.' ~ prop) }}
        </span>
    {% endfor %}
</div>