{% if not tags.empty %}
    <div class="row">
        <div class="col-md-12">
            <div class="allmega-tags">
                {% for tag in tags %}
                    <span class="allmega-tag-label">
                        <i class="fa-solid fa-tag"></i> {{ tag.name }}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}