{% trans_default_domain 'AllmegaBlogBundle' %}

{{ allmega_render_heading({
        'show': show|default(true),
        'css': 'allmega-page-heading-box',
        'title': {'content': 'page.temporary_unavailable_title'|trans}
    })
}}
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="alert alert-warning" role="alert">
            <i class="fa-solid fa-exclamation-triangle"></i> 
            {{ 'page.temporary_unavailable'|trans }}
        </div>
    </div>
</div>