{% if showTitle|default(false) %}
	{{ include(params.path ~ 'latest/_heading.html.twig') }}
{% endif %}

<div class="row px-4 justify-content-center">
	{% for post in posts %}
		{{ include(params.path ~ 'latest/_summary.html.twig') }}
	{% endfor %}
</div>