{% set image = post.listimage ?: default_img %}

<div class="col-md-4 mb-4">
    <div class="shadow-lg allmega-page-summary-box">
        <img src="{{ image }}" title="{{ post.title }}">

        <div class="allmega-page-summary-content">
            <h5 class="mt-3">{{ post.title }}</h5>
            <div class="py-2">{{ post.summary|slice(0,250) }}...</div>
        </div>
        
        {{ allmega_render_tags(post.tags) }}

        <div class="allmega-page-summary-footer">
            <a class="allmega-btn btn btn-sm" href="{{ path(params.route ~ 'show', {'slug': post.slug}) }}">
                {{ 'label.more'|trans({}, params.domain) }}
            </a>
        </div>
    </div>
</div>