{% trans_default_domain params.domain %}

<div class="float-end">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ allmega_render_link({
                'path': '#', 'icon': 'plus-circle',
                'id': 'allmega-add-new-comment',
                'title': 'comment.publish'|trans
            })
        }}
    {% else %}
        {{ allmega_render_link({
                'load': true, 'icon': 'sign-in-alt', 'title': 'action.signin'|trans,
                'path': path('allmega_auth_login', {'redirect_to': app.request.pathInfo})
            })
        }}  {{ 'comment.to_publish'|trans }}
    {% endif %}
</div>