{% trans_default_domain params.domain %}

<li id="{{ comment.row.id }}" class="allmega-comment-list-item">
    {{ include(params.path ~ 'slider/_head.html.twig') }}
    {{ include(params.path ~ 'slider/_body.html.twig') }}
</li>

{% if comment.childs|length %}
    <li>
        <ul class="allmega-level" id="allmega-comments-root-{{ comment.row.id }}">
            {% for comment in comment.childs %}
                {{ include(params.path ~ 'inc/_comment.html.twig') }}
            {% endfor %}
        </ul>
    </li>
{% endif %}
