{% trans_default_domain params.domain %}

<p class="allmega-comments-counter-box">
    <i class="fa-solid fa-comments"></i> {{ 'comment.counter'|trans({'%count%': params.num}) }} 
    {% if not params.onlyCount and params.num < 1 %}... {{ 'comment.write'|trans }}{% endif %}
</p>