{% for comment in comments %}
	{% set info = include(params.path ~ 'list/_info.html.twig') %}
	{{ allmega_render_dashboard_box_item({
			'content': comment.content|slice(0,200) ~ '<hr>' ~ info,
			'title': {'content': comment.author.username},
			'badge': comment.posted|allmega_is_new,
		})
	}}
{% else %}
	{{ 'comment.empty'|trans({}, params.domain) }}
{% endfor %}