{% trans_default_domain params.domain %}

{% if items|length %}
    <div class="px-3">
        <form action="{{ path(params.route ~ 'settings') }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('blog-comment-settings') }}">
            <ul class="list-group">
                {% for item in items %}
                    <li class="list-group-item">
                        <input type="checkbox" name="entityname[{{ item.entityname }}]" {{ item.examine ? 'checked' : '' }}> 
                        {{ item.label }}
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <button type="submit" class="allmega-btn btn btn-sm">
                <i class="fa-solid fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
            </button>
        </form>
    </div>
{% else %}
    <p class="px-3">{{ 'comment.item.empty'|trans }}</p>
{% endif %}