{% trans_default_domain params.domain %}

{% set emailalias = params.emailalias %}
{% set title = emailalias.active ? 'emailalias.notification.not_active'|trans : 'emailalias.notification.active'|trans %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': [
            {
                'load': true, 'icon': 'edit', 'title': 'emailalias.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': emailalias.id})
            },
            {
                'confirm': true, 'title': title, 'state': emailalias.active,
                'path': path(params.route ~ 'state', {'id': emailalias.id})
            }
        ]
    })
}}