{% trans_default_domain params.domain %}

{{  allmega_render_heading({
        'title': {'icon': 'envelope', 'content': 'emailalias.list'|trans},
        'actionsList': {
            'sort': {'item': item, 'sortables': emailaliases},
            'info': {'show': true, 'content': 'emailalias.info'|trans},
            'links': [
                {
                    'load': true, 'icon': 'plus-circle',
                    'title': 'emailalias.create'|trans,
                    'path': path(params.route ~ 'add')
                }
            ]
        }
    })
}}