{% trans_default_domain params.domain %}

<div class="fw-bold">{{ 'label.description'|trans }}</div>
<div class="ps-3 mb-1">
    - {{ emailalias.description|allmega_print }}
</div>
<div class="fw-bold">{{ 'emailalias.users'|trans }}:</div>
<div class="ps-3">
    {% for user in emailalias.users %}
        - {{ user.fullname }}{% if not loop.last %}<br />{% endif %}
    {% endfor %}
</div>

{{ emailalias|allmega_item_info }}