{{ allmega_render_slider_wrapper({
        'params': params, 'items': emailaliases, 'card': true,
        'empty': 'emailalias.empty'|trans({}, params.domain),
        'template': params.path ~ 'list/_slider.html.twig',
    })
}}