{{ allmega_render_page_content({'page': page}) }}

{% if page.carousel %}
    <hr>{{ allmega_render_carousel({'images': page.getImages(), 'size': 10}) }}
{% endif %}

{% if params.pageVoter.isGranted('blog-page-files', page, app.user) %}
    {{ include(params.path ~ 'inc/_files.html.twig') }}
{% endif %}