{% set image = page.listimage : default_img %}

<div class="col-md-5 mb-4">
    <div class="m-auto shadow-lg allmega-page-summary-box">
        <img src="{{ image }}" title="{{ page.title }}">

        <div class="row">
            <div class="col-md-12">
                <div class="allmega-page-summary-content">
                    <h5 class="mt-3">{{ page.title }}</h5>
                    <div class="py-2">{{ page.summary|slice(0,330) }}...</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="allmega-page-summary-footer">
                    <a class="allmega-btn btn btn-sm" href="{{ path(params.route ~ 'show', {'slug': page.slug}) }}">
                        {{ 'label.more'|trans({}, params.domain) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>