.allmega-actions-list-group { display: inline-flex; }
.allmega-actions-list-item { padding-left: .2rem; }
.allmega-head-actions-list { position: relative; }
.allmega-head-actions-list > .allmega-actions-list-group,
.allmega-page-group > .allmega-actions-list-group,
.modal-body > .allmega-actions-list-group {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 5;
}