body, table, td, th {
    font-family: 'Open Sans', sans-serif;
    color: #111;
}

a:hover { color: #555; text-decoration: none; }
a { color: #333; text-decoration: none; }
label { font-weight: bold; color: #888; }
ul { padding: 0; margin: 0; }
small { font-size: .7rem; }
h1 { font-size: 1.5rem; }
hr { color: #bcbcbc; }
li { list-style: none; }

.allmega-actions-list-group .fa-solid::after,
.fa-circle-check::after,
h1 > .fa-solid::after,
.fa-trash::after,
.fa-ban::after { content: '\00a0 \00a0'; }

/* Base elements */
#allmega-header, #allmega-main, #allmega-footer { position: relative; }
#allmega-impressum-content { padding: 1.5rem; position: relative; }
#allmega-main-nav { position: absolute; right: .5rem; }
#allmega-header { background-color: #fff; }
#allmega-new-comment { display: none; }
#allmega-content { margin: 0 2rem; }
.allmega-fixed-header {
    position: fixed !important;
    margin-left: -2rem;
    z-index: 100;
    width: 100%;
    top: 0;
}

/* Menupoints overview */
.allmega-menupoints-overview { max-width: 40rem; }

/* Slide menu icon */
#allmega-menu-icon {
    position: absolute;
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
}

/* Maintenance box */
#allmega-maintenance {
    height: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

/* Pagination box */
.allmega-pagination-box {
    position: relative;
    margin: .5rem;
    height: 3rem; 
}

/* Shadow for buttons, info box and comment item */
.allmega-comment-list-item,
.allmega-delete-form-box,
.allmega-popup-box,
.allmega-info-box,
.dropdown-menu,
.allmega-btn,
.btn {
    -webkit-box-shadow: 0  0 1.5rem 0 rgba(200,200,200,0.75);
    -moz-box-shadow: 0 0 1.5rem 0 rgba(200,200,200,0.75);
    box-shadow: 0 0 1.5rem 0 rgba(200,200,200,0.75);
}

/* Same elements with CSS-class */
.allmega-terms-link, .allmega-breadcrumb-line > a { text-decoration: underline; }
.allmega-sorted-items { background-color: #f1f1f1; }
.allmega-actions-dropdown { min-width: 3rem; }
.allmega-boxes-area { padding: 1rem 1rem 0; }
.allmega-menu-logo { max-height: 3rem; }
.allmega-level { padding-left: .5rem; }