#allmega-comments-area > .float-end { padding-right: 1rem; }
.allmega-comments-counter-box { padding: 0 1rem; }
#allmega-comments-area {
    border-top: solid 1px #eee;
    padding: 1rem 0;
}
.allmega-comment-list-item {
    border-radius: .3rem;
    margin-bottom: .5rem;
    padding: 1rem;
}