.allmega-dashboard-content { font-size: .8rem; color: #555; margin-bottom: 3rem; }
.allmega-dashboard-title { font-weight: bold; text-align: center; }
.allmega-dashboard-info { font-size: .8rem; color: #555; }
.allmega-dashboard-footer {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    left: 0;
}
.allmega-dashboard-box {
    border-radius: .5rem;
    position: relative;
    padding: 1rem;
    height: 100%;
}