.allmega-dot-yellow { background-color: #edb766; }
.allmega-dot-green { background-color: #0c8404; }
.allmega-dot-red { background-color: #da0808; }
.allmega-dot {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    margin-top: 0.14rem;
    margin-right: 0.5rem;
    display: inline-block;
}