.allmega-delete-form-box button { padding: 0.2rem 0 .2rem 0.5rem }
.modal-body .allmega-delete-form-box { bottom: .7rem; right: 0; }
.allmega-form-box { position: relative; padding: 0 1rem 1rem; }
.allmega-tags-box > .allmega-delete-form-box { bottom: 0; }
.modal-body .allmega-heading-title { height: 3rem; }
.modal-body .allmega-form-box { padding: 0; }
.allmega-login-form { max-width: 20rem; }
.allmega-delete-form-box:hover,
.allmega-btn:hover,
.btn:hover {
    -webkit-box-shadow: 0  0 1.3rem 0 rgba(150, 150, 150, .9);
    -moz-box-shadow: 0 0 1.3rem 0 rgba(150, 150, 150, .9);
    box-shadow: 0 0 1.3rem 0 rgba(150, 150, 150, .9);
}
.allmega-btn {
    margin-bottom: .7rem;
    margin-right: .7rem;
    min-width: 12.5rem;
    font-weight: bold;
}
.allmega-delete-form-box {
    border-radius: 0.3rem;
    position: absolute;
    bottom: 1.7rem;
    right: 1rem;
    width: 2rem;
}