.allmega-heading-title-content { margin: 0; }
.allmega-heading-title {
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    display: flex;
    height: 4rem;
}
.allmega-heading-box {
    border-bottom: solid 1px #eee;
    margin-bottom: 1rem;
    position: relative;
}