.allmega-info-btn { margin-top: .15rem; display: none; }
.allmega-info-btn-show > i { display: block; }
.allmega-info-box-area { position: relative; }
.allmega-info-box {
    color: #777;
    margin: 0 1rem 1rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    background-color: #fff;
    min-width: 20rem !important;
    font-weight: normal;
    display: none;
    opacity: .9;
    z-index: 5;
    position: absolute;
    top: 1rem;
    right: 0;
}