.allmega-slider-body > .allmega-loader-img { display: none; }
#allmega-flash-message {
    -webkit-box-shadow: 0 1rem 3rem 0 rgba(180, 180, 180, .75);
    -moz-box-shadow: 0 1rem 3rem 0 rgba(180, 180, 180, .75);
    box-shadow: 0 1rem 3rem 0 rgba(180, 180, 180, .75);
    width: 50%;
}
.allmega-loader-img {
    background: url(../../images/loader.gif) no-repeat left center;
    min-height: 1rem;
    min-width: 1rem;
}
#allmega-load-message { width: 10rem; }
#allmega-flash-message,
#allmega-load-message {
    position: relative;
    margin: auto;
    top: 50%;
}
#allmega-flash-area,
#allmega-loader {
    z-index: 1100;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}