.allmega-folder-menu::after { content: '\00a0'; }
.allmega-progress-bar {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10%;
    height: .3rem;
    width: 0;
}
.allmega-media-list {
    border-top: solid 1px #eee;
}
fieldset,
.allmega-mediafile-area {
    background-color: #f5f5f5;
    border: solid 1px #e3e2e2;
    padding: .2rem .2rem .75rem;
    border-radius: .75rem;
}
fieldset { padding: .5rem; }