@media only screen and (max-width: 768px) {
    .allmega-head-actions-list > .allmega-actions-list-group,
    .allmega-page-group > .allmega-actions-list-group,
    .modal-body > .allmega-actions-list-group {
        right: .3rem;
        top: .7rem;
    }
    .allmega-heading-title:has(h1) {
        border-top: solid 1px #eee;
        margin-top: 2.5rem;
        height: 3rem;
        padding: 0;
    }
    .modal-body .allmega-heading-title:has(h1) { margin-top: 0; border: none; }
    .allmega-root-list { padding: 0 .5rem .5rem !important; }
    h1.allmega-heading-title-content { font-size: 1.2rem; }
    h5.allmega-heading-title-content { font-size: .95rem; }
    .allmega-breadcrumb-line { padding-top: 2rem; }
    #allmega-main-nav { position: inherit; }
    .allmega-btn { width: 100%; }
}