.allmega-page-summary-content { padding: 0 1rem; margin-bottom: 4rem; }
.allmega-page-summary-box { position: relative; height: 100%; }
.allmega-page-summary-box > img { width: 100%; }
.allmega-page-content { padding: 0 1rem; }
.allmega-page-summary-footer {
    border-top: solid 1px #eee;
    padding: 1rem 1rem .5rem;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}