.allmega-popup-area { position: relative; }
.allmega-popup-box {
    background-color: #fff;
    border-radius: .3rem;
    font-weight: normal;
    margin: 0 1rem 1rem;
    padding: .5rem 1rem;
    display: none;
    color: #777;
    z-index: 5;
    position: absolute;
    right: 1rem;
    top: 1rem;
}