.allmega-prio-very-high { background-color: #c58b8b; }
.allmega-prio-high { background-color: #f9dcdc; }
.allmega-prio-norm { background-color: #dff7c1; }
.allmega-prio-low { background-color: #e2e2e2; }
.allmega-prio-area { max-width: 30rem; }