/* --------------- Font Awesome ------------------------- */
.fa-solid { cursor: pointer; font-size: 1rem; color: #777; }

/* --------------------  Bootstrap --------------------------*/
.dropdown-item, .nav-link, .list-group-item, .form-select, .form-control { color: #333 !important; }
.form-select:focus, .form-control:focus {
    -webkit-box-shadow: 0 1rem 3rem 0 rgba(180, 180, 180, .75);
    -moz-box-shadow: 0 1rem 3rem 0 rgba(180, 180, 180, .75);
    box-shadow: 0 1rem 3rem 0 rgba(180, 180, 180, .75);
    border: solid 1px #c7c7c7;
}
.input-group-text { background-color: #ccc; color: #777; }
.help-block ul li { font-size: .7rem; color: #333; }
.tab-pane { margin-top: 1rem; position: relative; }
.table td, .table th { padding: .5rem; }
.nav-link { font-size: 110%; }

/* ----------------- Pagerfanta elements ----------------------*/
.page-item.active .page-link { background-color: #333; border-color: #979797; }
.page-link:hover { text-decoration: none; color: #555; }
.page-link { color: #333; }
.pagination {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}