#allmega-scroll-btn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .7rem 1rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1rem 0 rgba(107, 107, 107, 0.9);
    -moz-box-shadow: 0 0 1rem 0 rgba(107, 107, 107, 0.9);
    box-shadow: 0 0 1rem 0 rgba(107, 107, 107, 0.9);
}
#allmega-scroll-btn:hover {
    -webkit-box-shadow: 0 0 1.7rem 0 rgba(107, 107, 107, 0.9);
    -moz-box-shadow: 0 0 1.7rem 0 rgba(107, 107, 107, 0.9);
    box-shadow: 0 0 1.7rem 0 rgba(107, 107, 107, 0.9);
}