.allmega-side-box-start { left: 0; }
.allmega-side-box-end { right: 0; }
.allmega-side-box {
    transition: .5s;
    -ms-transition: .5s;
    -webkit-transition: .5s;
    background: #fff;
    opacity: .95;
    z-index: 5;
}
.allmega-side-box-label {
    display: flex;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: .2rem;
    padding: 1rem .3rem;
    font-weight: bold;
    font-size: .75rem;
    cursor: pointer;
}
.allmega-side-box-start .allmega-side-box-label {
    border-left: solid .025rem #ccc;
}
.allmega-side-box-end .allmega-side-box-label {
    border-right: solid .025rem #ccc;
}
.allmega-side-box-content-title {
    border-bottom: solid 1px #ddd;
    margin-bottom: .5rem;
    text-align: center;
    font-weight: bold;
    padding: .5rem;
}
.allmega-side-box-content-body {
    padding: 0 1rem .5rem .5rem;
}