li > .allmega-slider-wrapper, .allmega-media-list > .allmega-slider-wrapper { border: none; }
.allmega-root-list > div:last-child { border-bottom: solid .05rem #eee; }
.allmega-slider-content { padding: 1rem 0; border-top: solid 1px #eee; }
.allmega-slider-head { position: relative; padding: 0.75rem 0.5rem; }
.allmega-slider-body { display: none; position: relative; }
.allmega-root-list { padding: 0 1rem 1rem; }
.allmega-slider-title { cursor: pointer; }
.allmega-slider-head > .allmega-actions-list-group {
    position: absolute;
    top: .75rem;
    right: 0;
}