.allmega-tags-box { 
    position: relative;
    height: 2rem;
}
.allmega-tag-box .allmega-delete-form-box {
    bottom: .7rem;
    right: .5rem;
}
.allmega-tag-label {
    font-size: 90%;
    line-height: 1;
    display: inline;
    font-weight: 700;
    color: #1b1919;
    padding: .5em .6em;
    text-align: center;
    margin-left: .5rem;
    white-space: nowrap;
    border-radius: .3rem;
    vertical-align: baseline;
    background-color: #efefef;
}
.allmega-tags {
    border-top: solid 1px #eee;
    text-align: right;
    margin-top: 1rem;
    padding: 1rem 0;
}