{% trans_default_domain params.domain %}

{% set notificationtype = params.notificationtype %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': [
            {
                'load': true, 'icon': 'edit', 'title': 'notificationtype.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': notificationtype.id})
            },
            {
                'confirm': true, 'state': notificationtype.active,
                'path': path(params.route ~ 'state', {'id': notificationtype.id}),
                'title': notificationtype.active ? 'notificationtype.deactivate'|trans : 'notificationtype.activate'|trans
            }
        ]
    })
}}