{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'envelope', 'content': 'notificationtype.list'|trans},
        'actionsList': {
            'info': {'show': true, 'content': 'notificationtype.info'|trans},
            'sort': {'item': item, 'sortables': notificationtypes}
        }
    })
}}