{{ allmega_render_slider_content({
        'templates': {'menu': params.path ~ 'list/_actions.html.twig'},
        'params': params|merge({'notificationtype': item}),
        'title': item.name
    })
}}