{{ allmega_render_slider_wrapper({
        'empty': 'notificationtype.empty'|trans({}, params.domain),
        'params': params, 'items': notificationtypes, 'card': true,
        'template': params.path ~ 'list/_slider.html.twig',
    })
}}