{% trans_default_domain params.domain %}

<div class="row">
    <div class="col-md-12">
        <div id="allmega-impressum-content">
            <table class="table table-striped table-sm shadow-lg">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <div>{{ company.name }}</div>
                            {% if company.description %}<div>{{ company.description }}</div>{% endif %}
                            {% if ',' in company.address %}
                                {% set rows = company.address|split(',') %}
                                {% for row in rows %}
                                    <div>{{ row }}</div>
                                {% endfor %}
                            {% else %}
                                <div>{{ company.address }}</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <th>{{ 'company.label.phone'|trans }}:</th>
                        <td>{{ company.phone }}</td>
                    </tr>
                    {% if company.fax %}
                        <tr>
                            <th>{{ 'company.label.fax'|trans }}:</th>
                            <td>{{ company.fax }}</td>
                        </tr>
                    {% endif %}
                    {% if company.mobile %}
                        <tr>
                            <th>{{ 'company.label.mobile'|trans }}:</th>
                            <td>{{ company.mobile }}</td>
                        </tr>
                    {% endif %}
                    {% if company.mail %}
                        <tr>
                            <th>{{ 'company.label.mail'|trans }}:</th>
                            <td>{{ company.mail }}</td>
                        </tr>
                    {% endif %}
                    <tr><td colspan="2">&nbsp;</td></tr>
                    {% if company.bank %}
                        <tr>
                            <th>{{ 'company.label.bank'|trans }}</th>
                            <td>{{ company.bank }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'company.label.iban'|trans }}</th>
                            <td>{{ company.iban }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'company.label.bic'|trans }}</th>
                            <td>{{ company.bic }}</td>
                        </tr>
                    {% endif %}
                    <tr><td colspan="2">&nbsp;</td></tr>
                    {% if company.manager %}
                        <tr>
                            <th>{{ 'company.label.manager'|trans }}:</th>
                            <td>{{ company.manager }}</td>
                        </tr>
                    {% endif %}
                    {% if company.director %}
                        <tr>
                            <th>{{ 'company.label.director'|trans }}:</th>
                            <td>{{ company.director }}</td>
                        </tr>
                    {% endif %}
                    {% if company.register %}
                        <tr>
                            <th>{{ 'company.label.register'|trans }}:</th>
                            <td>{{ company.register }}</td>
                        </tr>
                    {% endif %}
                    <tr><td colspan="2">&nbsp;</td></tr>
                    {% if company.webauthors %}
                        {% if ',' in company.webauthors %}
                            {% set rows = company.webauthors|split(',') %}
                            {% for row in rows %}
                                <tr>
                                {% if ':' in row %}
                                    {% set values = row|split(':') %}
                                    {% for val in values %}
                                        {% if loop.first %}
                                            <th>{{ val }}</th>
                                        {% else %}
                                            <td>{{ val }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <td colspan="2">{{ row }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="2">{{ company.webauthors }}</td></tr>
                        {% endif %}
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <hr>
            {{ company.markdown ? company.content|markdown_to_html : company.content|raw }}
        </div>
    </div>
</div>