{% trans_default_domain params.domain %}

{% set links = [] %}
{% if is_granted('ROLE_BLOG_MANAGER') %}
    {% set links = [
            {
                'load': true, 'icon': 'edit', 'size': 'lg',
                'path': path(params.route ~ 'edit'),
                'title': 'company.edit'|trans
            }
        ]
    %}
{% endif %}

{{  allmega_render_heading({
        'title': {'content': 'label.imprint'|trans},
        'actionsList': {'links': links}
        
    })
}}