{% if heading.actionsList %}
    {{ heading.actionsList.view|raw }}
{% endif %}

{% if heading.show %}
    <div class="row">
        <div class="col-md-12">
            <div class="allmega-heading-box {{ heading.css }}">
                {% if heading.title %}
                    {{ heading.title.view|raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}