{% set size = app.request.isXmlHttpRequest() ? modal.title : title.size %}
<div class="allmega-heading-title {{ title.css }}">
    {% if title.html %}
        {{ title.content|raw }}
    {% else %}
        <h{{ size }} class="allmega-heading-title-content">
            {% if title.icon %}<i class="fa-solid fa-{{ title.icon }}"></i>{% endif %} 
            {{ title.content }} {% if title.count %} ({{ title.count }}) {% endif %}
        </h{{ size }}>
    {% endif %}
</div>