{% if is_granted("IS_AUTHENTICATED_FULLY") %}
	{% if is_granted('ROLE_USER') %}
		{{ include('@AllmegaBlog/inc/_icons_menu_points.html.twig') }}
	{% endif %}
    {{ render(controller('Allmega\\AuthBundle\\Controller\\SecurityController::getMenuIcon',{'action': 'logout'})) }}
{% else %}
    {{ render(controller('Allmega\\AuthBundle\\Controller\\SecurityController::getMenuIcon',{})) }}
{% endif %}
