<div class="row">
    <div class="col-md-12">
        <div id="allmega-header" class="mt-2 py-2 shadow-lg">
            {{ include('@AllmegaBlog/inc/header/_main_menu.html.twig') }}
        </div>
    </div>
</div>