<a class="dropdown-toggle nav-link" href="#" id="allmega-profile-menu" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-user-tie"></i>
</a>
<div class="dropdown-menu dropdown-menu-end allmega-actions-dropdown" aria-labelledby="allmega-profile-menu">
    {{ include('@AllmegaBlog/inc/header/_icons_menu.html.twig') }}
</div>