<div class="row">
    <div class="col-md-12">
        <div id="allmega-footer" class="my-4 p-2 text-center shadow-lg">
            &copy; {{ 'now'|date('Y') }} 
            <a data-bs-toggle="tooltip" title="Copyright" href="https://allmega.de">Allmega</a>&nbsp;
            <a data-bs-toggle="tooltip" title="Allmega Twitter" href="https://twitter.com/">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a data-bs-toggle="tooltip" title="Allmega Facebook" href="https://www.facebook.com/">
                <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>&nbsp;&nbsp;
            <a data-bs-toggle="tooltip" title="{{ 'menu.rss'|trans({}, 'AllmegaBlogBundle') }}" href="{{ path('allmega_blog_post_rss') }}">
                <i class="fa-solid fa-rss" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>