{% trans_default_domain params.domain %}

{% set badge = ' ' ~ allmega_render_badge({'bg': 'danger', 'content': latestNum}) %}

{{ allmega_render_dashboard_box({
		'title': {'content': 'contact.list'|trans ~ badge},
		'info': {'content': 'contact.count'|trans({'%num%': num})|raw},
		'content': include(params.path ~ 'inc/_dashboard.html.twig'),
		'actionsList': {
			'links': [
				{
					'icon': 'list-alt', 'title': 'contact.list'|trans,
					'path': path(params.route ~ 'index')
				}
			]
		}
	})
}}