{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'contact.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
	{{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {{ allmega_render_pagination(contacts) }}
    {{ allmega_render_confirmation({'message': 'contact.state_confirm'|trans({}, params.domain) }) }}
{% endblock %}
