{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'label.imprint'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'inc/_heading.html.twig') }}
	{{ include(params.path ~ 'inc/_content.html.twig') }}
{% endblock %}