{% trans_default_domain params.domain %}

{% set menupoint = params.menupoint %}
{% set links = [] %}

{% if is_granted('ROLE_BLOG_MANAGER') and menupoint.row.type.shortname == 'blog.category' %}
    {% set links = links|merge([
            {
                'icon':  menupoint.row.start ? 'check' : 'times', 'confirm': true, 'type': 'start',
                'title': menupoint.row.start ? 'label.startpage'|trans : 'startpage.mark'|trans,
                'path':  menupoint.row.start ? 
                        path(params.start.route ~ 'start') : 
                        path(params.start.route ~ 'start', {'type': 'menupoint', 'id': menupoint.row.id})
            }
        ])
    %}
{% endif %}

{% set links = links|merge([
        {
            'load': true, 'icon': 'edit', 'title': 'menupoint.edit'|trans,
            'path': path(params.route ~ 'edit', {'id': menupoint.row.id})
        },
        {
            'confirm': true, 'state': menupoint.row.active,
            'title': menupoint.row.active ? 'menupoint.deactivate'|trans : 'menupoint.activate'|trans,
            'path': path(params.route ~ 'state', {'id': menupoint.row.id})
        }
    ])
%}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': links
    })
}}