{% set menupoint = params.menupoint %}

{% if menupoint.childs|default(false) %}
    <div class="allmega-level">
        {% for menupoint in menupoint.childs %}
            {{ include(params.path ~ 'list/_menupoint.html.twig') }}
        {% endfor %}
    </div>
{% endif %}