{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'list-alt', 'content': 'menupoint.list'|trans},
        'actionsList': {
            'info': {'show': true, 'content': 'menupoint.info'|trans},
            'links': [
                {
                    'load': true, 'icon': 'plus-circle',
                    'title': 'menupoint.create'|trans,
                    'path': path(params.route ~ 'add')
                }
            ]
        }
    })
}}