{% trans_default_domain params.domain %}

<div class="fw-bold">{{ 'label.description'|trans }}:</div>
<div class="ps-3 mb-1">
    - {{ menupoint.row.description|allmega_print  }}
</div>

<span class="fw-bold">{{ 'label.type'|trans }}:</span> {{ menupoint.row.type.name }}

{% if menupoint.row.type.shortname == 'blog.route' %}
    <div class="mb-1">
        <span class="fw-bold">{{ 'menupoint.label.route'|trans }}:</span> {{ menupoint.row.route }}
    </div>
{% endif %}

<div class="fw-bold mt-1">{{ 'menupoint.label.group'|trans }}:</div>
<div class="ps-3 mb-1">
    {% for group in menupoint.row.groups %}
        - {{ group.name }}{% if not loop.last %}<br>{% endif %}
    {% else %}
        - {{ 'label.anonymous'|trans }}
    {% endfor %}
</div>

<span class="fw-bold">{{ 'menupoint.label.sysmenu'|trans }}:</span> 
{{ menupoint.row.sys ? 'label.yeas'|trans : 'label.noe'|trans }}