{% set title = menupoint.row.prio ~ '. ' ~ menupoint.row.name %}
{% set content = menupoint.childs|default(false) ? params.path ~ 'list/_content.html.twig' : '' %}

{{ allmega_render_slider_content({
        'title': title, 'params': params|merge({'menupoint': menupoint}),
        'templates': {
            'menu': params.path ~ 'list/_actions.html.twig',
            'content': content
        }
    })
}}