<div class="row">
    <div class="col-md-12">
        <div class="mx-auto mb-3 p-3 shadow-lg allmega-root-list allmega-menupoints-overview">
            {% for menupoint in menupoints %}
                {{ include(params.path ~ 'list/_menupoint.html.twig') }}
            {% else %}
                <div>{{ 'menupoint.empty'|trans({}, params.domain) }}</div>
            {% endfor %}
        </div>
    </div>
</div>