{% trans_default_domain params.domain %}

{% set post = params.post %}
{% set links = [] %}

{% if is_granted('ROLE_BLOG_MANAGER') %}
	{% set links = links|merge([
			{
				'path':  post.start ? path(params.start.route ~ 'start') : path(params.start.route ~ 'start', {'type': 'post', 'id': post.id}),
				'icon':  post.start ? 'check' : 'times', 'confirm': true, 'type': 'start',
				'title': post.start ? 'label.startpage'|trans : 'startpage.mark'|trans,
			}
		])
	%}
{% endif %}

{% set links = links|merge([
		{
			'icon': 'eye', 'title': 'post.show'|trans,
			'path': path(params.route ~ 'show', {'slug': post.slug})
		},
		{
			'path': path(params.route ~ 'edit', {'id': post.id}),
			'load': true, 'size': 'lg', 'icon': 'edit',
			'title': 'post.edit'|trans
		},
		{
			'confirm': true, 'state': post.active,
			'title': post.active ? 'action.deactivate'|trans : 'action.activate'|trans,
			'path': path(params.route ~ 'state', {'id': post.id})
		}
	])
%}

{{ allmega_render_actions_list({
		'info': {'content': include(params.path ~ 'show/_info.html.twig')},
		'links': links
	})
}}