{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {
            'icon': 'file-alt',
            'content': 'post.list'|trans,
            'count': posts.totalItemCount
        },
        'actionsList': {
            'sort': { 'item': item, 'sortables': posts },
            'info': {'show': true, 'content': 'post.info'|trans},
            'search': {
                'placeholder': 'post.search.pages'|trans,
                'help': 'post.search.help'|trans,
                'path': path(params.route ~ 'search'),
            },
            'links': [
                {
                    'load': true, 'size': 'lg', 'icon': 'plus-circle',
                    'path': path(params.route ~ 'add'),
                    'title': 'post.create'|trans
                }
            ]
        }
    })
}}