{{ allmega_render_slider_wrapper({
        'template': params.path ~ 'list/_slider.html.twig',
        'empty': 'post.empty'|trans({}, params.domain),
        'params': params, 'items': posts, 'card': true,
    })
}}