{{ allmega_render_slider_content({
        'title': item.published|allmega_is_new ~ item.title,
        'params': params|merge({'post': item}),
        'templates': {
            'content': params.path ~ 'list/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig'
        }
    })
}}