<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <title>{% block title %}{% endblock %}</title>

        {% block meta_tags %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags(menu_type ~ '-menu-css') }}
            {{ encore_entry_link_tags('blog-css') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags(menu_type ~ '-menu-js') }}
            {{ encore_entry_script_tags('blog-js') }}
        {% endblock %}

        {% include '@AllmegaBlog/inc/_analytics.html.twig' ignore missing %}
    </head>
    <body>
        {% block body %}
            <div id="allmega-content">
                {% block header %}
                    {{ include('@AllmegaBlog/inc/header/_layout.html.twig') }}
                {% endblock %}

                <div id="allmega-main" class="mt-4 shadow-lg allmega-head-actions-list">
                    {% block main %}{% endblock %}
                </div>
                
                {% block footer %}
                    {{ include('@AllmegaBlog/inc/footer/_layout.html.twig') }}
                {% endblock %}
            </div>

            <div id="allmega-hidden-area">
                {% block hidden_area %}
                    {% block modals %}
                        {{ allmega_render_modal() }}
                        {{ allmega_render_loader() }}
                        {{ allmega_render_flash_messages() }}
                    {% endblock %}

                    {{ allmega_render_scroll_btn() }}
                    {{ include('@AllmegaBlog/inc/_side_popup_boxes.html.twig') }}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>