<!DOCTYPE html>
<html lang="{{ app.request ? app.request.locale : 'de' }}">
    <head>
        {% block meta_tags %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('blog-css') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="allmega-content" class="container">
                {% block header %}
                    <div class="row">
                        <div class="col-md-12">
                            <div id="allmega-header" class="mt-2 py-2 shadow-lg"></div>
                        </div>
                    </div>
                {% endblock %}

                <div class="row">
                    <div class="col-md-12">
                        <div id="allmega-main" class="mt-4 shadow-lg allmega-head-actions-list">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>

                {% block footer %}
                    {{ include('@AllmegaBlog/inc/footer/_layout.html.twig') }}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>