{% for contact in contacts %}
	{% set info = include(params.path ~ 'list/_info.html.twig') %}
	{{ allmega_render_dashboard_box_item({
			'content': contact.message|slice(0,200) ~ '<hr>' ~ info,
			'badge': contact.posted|allmega_is_new,
			'title': {'content': contact.sender},
		})
	}}
{% else %}
	{{ 'contact.empty'|trans({}, params.domain) }}
{% endfor %}