<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        {% trans_default_domain params.domain %}
        <title>{{ 'post.rss.title'|trans }}</title>
        <description>{{ 'post.rss.description'|trans }}</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <lastBuildDate>{{ (posts|last).published|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
        <link>{{ url(params.route ~ 'index') }}</link>
        <language>{{ app.request.locale }}</language>

        {% for post in posts %}
            <item>
                <title>{{ post.title }}</title>
                <description>{{ post.summary }}</description>
                <link>{{ url(params.route ~ 'show', {'slug': post.slug}) }}</link>
                <guid>{{ url(params.route ~ 'show', {'slug': post.slug}) }}</guid>
                <pubDate>{{ post.published|date(format='r', timezone='GMT') }}</pubDate>
                <authors> 
                    {% for author in post.authors %}
                        <author>{{ author.email }}</author>
                    {% endfor %}
                </authors>
                <tags>
                    {% for tag in post.tags %}
                        <tag>{{ tag.name }}</tag>
                    {% endfor %}
                </tags>
            </item>
        {% endfor %}
    </channel>
</rss>
