{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'post.latest'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'latest/_posts.html.twig', { 'showTitle': true }) }}
    {{ allmega_render_pagination(posts) }}
{% endblock %}
