{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'post.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
    {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {{ allmega_render_pagination(posts) }}
    {{ allmega_render_confirmation({'message': 'post.state_confirm'|trans({}, params.domain) }) }}
    {{ allmega_render_start_confirmation() }}
{% endblock %}