{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta_tags %}
	{{ parent() }}
	<meta name="description" content="{{ post.summary }}">
    <meta name="keywords" content="{{ post.keywords }}">
{% endblock %}

{% block main %}
    {% if post.active or is_granted('ROLE_POST_AUTHOR') %}
        {{ include(params.path ~ 'show/_layout.html.twig') }}
    {% else %}
        {{ allmega_render_unavailable() }}
    {% endif %}
{% endblock %}