{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {
            'icon': 'list-alt',  'content': 'faq.list'|trans,
            'count': faqs.totalItemCount
        },
        'actionsList': {
            'sort': {'item': item, 'sortables': faqs},
            'info': {'show': true, 'content': 'faq.info'|trans},
            'search': {
                'placeholder': 'faq.search.faqs'|trans,
                'help': 'faq.search.help'|trans,
                'path': path(params.route ~ 'search'),
            },
            'links': [{
                'load': true, 'icon': 'plus-circle',
                'path': path(params.route ~ 'add'),
                'title': 'faq.create'|trans
            }]
        }
    })
}}