{% set title = params.admin|default(false) ? item.question|slice(0, 70) : item.question %}

{{ allmega_render_slider_content({
        'title': title, 'params': params|merge({'faq': item}),
        'templates': {
            'content': params.path ~ 'list/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig'
        }
    })
}}