{% trans_default_domain params.domain %}

{% set contact = params.contact %}
{% set title = contact.answered ? 'contact.state.not_answered' : 'contact.state.answered' %}

{% set links = [] %}

{% if not contact.answered %}
    {% set links = links|merge([
            {
                'load': true, 'icon': 'envelope', 'title': 'action.answer'|trans,
                'size': 'lg', 'path': path(params.route ~ 'edit', {'id': contact.id})
            }
        ])
    %}
{% endif %}

{% set links = links|merge([
        {
            'confirm': true, 'title': title|trans,
            'state': contact.answered,
            'path': path(params.route ~ 'state',{'id': contact.id})
        }
    ])
%}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': links
    })
}}