{% trans_default_domain params.domain %}

{% set contact = params.contact %}

<table class="table table-sm table-stripped mt-2 shadow-lg">
    <tr>
        <th>{{ 'label.sender'|trans }}</th>
        <td>{{ contact.sender }}</td>
    </tr>
    <tr>
        <th>{{ 'label.email'|trans }}</th>
        <td>{{ contact.email }}</td>
    </tr>
    {% if contact.phone %}
        <tr>
            <th>{{ 'label.phone'|trans }}</th>
            <td>{{ contact.phone }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ 'label.subject'|trans }}</th>
        <td>{{ contact.subject }}</td>
    </tr>
    <tr>
        <th>{{ 'label.message'|trans }}</th>
        <td>{{ contact.message|raw }}</td>
    </tr>
</table>