{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {
            'icon': 'file-alt', 'content': 'contact.list'|trans,
            'count': contacts.totalItemCount
        },
        'actionsList': {
            'sort': {'item': item, 'sortables': contacts},
            'info': {'show': true, 'content': 'contact.info'|trans},
            'search': {
                'placeholder': 'contact.search.contacts'|trans,
                'path': path(params.route ~ 'search'),
                'help': 'contact.search.help'|trans,
            },
        }
    })
}}