{% trans_default_domain params.domain %}

<span class="fw-bold">{{ 'contact.label.posted'|trans }}:</span> 
{{ contact.posted|format_datetime('medium', 'short', locale='de') }}
<br><span class="fw-bold">{{ 'contact.label.readed'|trans }}: </span>
{{ contact.readedAt ? contact.readedAt|format_datetime('medium', 'short', locale='de') : 'state.unreaded'|trans }}