{{ allmega_render_slider_content({
        'title': item.subject, 'params': params|merge({'contact': item}),
        'templates': {
            'content': params.path ~ 'list/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig'
        }
    })
}}