{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'tag.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
    {{ include(params.path ~ 'list/_main.html.twig') }}
    {{ allmega_render_pagination(tags) }}
{% endblock %}