{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ app.user.fullname ~ ' | ' ~ 'label.dashboard'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'inc/_heading.html.twig') }}
	<div class="row mx-2">
		{{ include(params.path ~ 'inc/_content.html.twig') }}
	</div>
{% endblock %}
