<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for item in items %}
        <url>
            <loc>{{ item }}</loc>
            <changefreq>weekly</changefreq>
        </url>
    {% endfor %}
</urlset>