{% extends '@AllmegaBlog/layout.html.twig' %}

{% trans_default_domain 'AllmegaBlogBundle' %}

{% block main %}
	<h5 class="text-center">
		<i class="fa-solid fa-exclamation-triangle"></i> {{ 'http_error.name'|trans({'%status_code%': 500 }) }}
	</h5>
	<hr>
	<div class="alert alert-warning" role="alert">
		{{ 'http_error_500.description'|trans }}<br />
		{{ 'http_error_500.suggestion'|trans({'%url%': path('allmega_auth_login')})|raw }}
	</div>
{% endblock %}