{% if params.postVoter.isGranted('blog-post-edit', post, app.user) %}
    {{ allmega_render_confirmation({'message': 'post.state_confirm'|trans({}, params.domain) }) }}
    <div id="allmega-page-slug" class="d-none" data-page-slug="{{ post.slug }}"></div>
    {{ allmega_render_start_confirmation() }}
{% endif %}