{% trans_default_domain params.domain %}

{% set links = [] %}
{% set info = {} %}

{% if not app.request.xmlHttpRequest and params.postVoter.isGranted('blog-post-edit', post, app.user) %}

    {% set info = {'show': true, 'content': include(params.path ~ 'show/_info.html.twig')} %}

    {% if is_granted('ROLE_BLOG_MANAGER') %}
        {% set links = links|merge([
                {
                    'path':  post.start ?  path(params.start.route ~ 'start') : path(params.start.route ~ 'start', {'type': 'post', 'id': post.id}),
                    'icon':  post.start ? 'check' : 'times', 'confirm': true, 'type': 'start',
                    'title': post.start ? 'label.startpage'|trans : 'startpage.mark'|trans,
                }
            ])
        %}
    {% endif %}

    {% set links = links|merge([
            {
                'icon': 'list-alt', 'title': 'post.list'|trans,
                'path': path(params.route ~ 'index')
            },
            {
                'load': true, 'size': 'lg', 'icon': 'edit', 'title': 'post.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': post.id})
            },
            {
                'confirm': true, 'state': post.active,
                'title': post.active ? 'action.deactivate'|trans : 'action.activate'|trans,
                'path': path(params.route ~ 'state', {'id': post.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_heading({
        'css': 'allmega-page-heading-box', 'show': post.headshow,
        'title': {'content': post.title, 'css': 'allmega-heading-post'},
        'actionsList': {'links': links, 'info': info}
    })
}}