{% trans_default_domain params.domain %}

<div class="mb-1">
    <span class="fw-bold">{{ 'menupoint.label.route'|trans }}:</span> 
    <i class="fa-solid fa-link"></i> 
    {{ path('allmega_blog_post_show', {'slug': post.slug}) }}
</div>

<div class="mb-1 text-end">
    <span class="fw-bold">{{ 'post.written_on'|trans }}:</span> 
    <i class="fa-solid fa-calendar-alt"></i> 
    {{ post.published|format_datetime('medium', 'short', locale='de') }}<br>

    <span class="fw-bold">{{ 'article.label.updated'|trans }}</span>
    <i class="fa-solid fa-calendar-alt"></i> 
    {{ post.updated|format_datetime('medium', 'short', locale='de') }}<br>

    <span class="fw-bold">{{ 'article.label.valid'|trans }}:</span> 
    <i class="fa-solid fa-calendar-alt"></i> 
    {{ post.valid|format_datetime('medium', 'short', locale='de')}}
</div>

<div class="text-end">
    <div class="fw-bold">
        <i class="fa-solid fa-users"></i> 
        {{ 'post.label.users'|trans }}:
    </div>
    <div class="ps-3">
        {% for author in post.authors %}
            - {{ author.username }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
    </div>
</div>