{% extends '@AllmegaBlog/layout.html.twig' %}

{% block title %}
    {{ 'recipient.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
    {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {{ allmega_render_pagination(recipients) }}
    {{ allmega_render_confirmation({'message': 'recipient.state_confirm'|trans({}, params.domain) }) }}
{% endblock %}