{% trans_default_domain 'AllmegaBlogBundle' %}

<!DOCTYPE html>
<html lang="{{ app.request ? app.request.locale : 'de' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>{{ 'maintenance.title'|trans }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('blog-css') }}
    {% endblock %}
</head>
<body>
    <div id="allmega-maintenance" class="w-50 shadow-lg overflow-auto">
        <div class="pt-3 px-3 text-center">
            <a class="navbar-brand" href="{{ app_url }}">
                <img src="{{ default_logo }}" class="allmega-menu-logo" title="Logo">
            </a>
        </div>
        <hr>
        <h5 class="text-center px-3">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            {{ 'maintenance.title'|trans }}
        </h5><hr>
        <div class="px-3 pb-3 text-muted small">{{ 'maintenance.message'|trans|raw }}</div>
    </div>
</body>
</html>