{% set message = reload|default(false) ? 'action.reload.auto' : 'action.reload.manual' %}

<div class="allmega-message-box">
    <div class="alert alert-{{ success ? 'success' : 'warning' }} shadow-lg" role="alert">
        {{ transId|trans({}, domain) }}
    </div>

    <div class="alert alert-secondary shadow-lg" role="alert">
        {{ message|trans({}, 'AllmegaBlogBundle') }}
    </div>
</div>