{{ allmega_render_page_content({'page': post}) }}

{% if post.carousel %}
    <hr>{{ allmega_render_carousel({'images': post.getImages(), 'size': 10}) }}
{% endif %}

{% if params.postVoter.isGranted('blog-post-files', post, app.user) %}
    {{ include(params.path ~ 'inc/_files.html.twig') }}
{% endif %}