{% for post in posts %}
	{{ allmega_render_dashboard_box_item({
			'title': {
				'content':  allmega_render_link({
					'load': true, 'label': post.title|slice(0,70), 'size': 'xl',
					'path': path(params.route ~ 'show', {'slug': post.slug})
				})
			},
			'content': post.summary|slice(0,200),
			'badge': post.published|allmega_is_new,
		})
	}}
{% else %}
	{{ 'post.empty'|trans({}, params.domain) }}
{% endfor %}