{{ allmega_media_render_files_widget({
        'route': params.route ~ 'show',
        'folder': post.mediaDir,
        'id': post.slug,
        'prop': 'slug',
        'show': true,
    })
}}
{{ allmega_render_confirmation({'action': 'delete', 'message': 'mediafile.delete_confirm'|trans({}, 'AllmegaMediaBundle')}) }}